<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h5><a href="/groups/new">Adicionar novo grupo</a></h5>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1>Grupos</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table-striped col-md-12">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade de usuarios nesse grupo</th>
      </tr>
      </thead>

      <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><a href="<%= "/groups/#{group.id}" %>"> <%= group.name %></a></td>
          <td><p><%= group.users.length %></p></td>
          <!--        <td><%#= link_to 'Show', group %></td>
        <td><%#= link_to 'Edit', edit_group_path(group) %></td>
        <td><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>