<div class="row">

  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col-md-12">
    <p>
      <strong>Nome:</strong>
      <%= @user.name %>
    </p>
  </div>
  <div class="col-md-12">
    <p>
      <strong>Grupo:</strong>
      <%= @user.group.name %>
    </p>
  </div>
  <div class="col-md-12">
    <p>
      <strong>Perfil:</strong>
      <%= @user.role == 1 ? "Comum":"Moderador" %>
    </p>
  </div>
</div>